$color-green: hsl(150, 100%, 30%);

.container {
    text-align: center;
}
.text-label {
    transition: transform .5rem ease;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: .1rem .2rem .1rem crimson;
    color: $color-green;
    text-align: center;
    padding: 3rem;

    div {
        display: inline-block;
    }

    span {
        display: inline-block;
        cursor: pointer;
        transition: transform .2s ease;

        &:hover {
            transform: translateY(-.6rem);
        }

        &:nth-last-of-type(odd) {
            animation-name: odd;
            animation-timing-function: ease;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        
            &:hover {
                animation-play-state: paused;
            }
        }

        &:nth-last-of-type(even) {
            animation-name: even;
            animation-timing-function: ease;
            animation-duration: 2s;
            animation-delay: .2s;
            animation-iteration-count: infinite;
        
            &:hover {
                animation-play-state: paused;
            }
        }
    }

    b {
        display: inline-block;
        font-weight: bolder;
        transform: scale(.9);
        animation-name: scale-odd;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    small {
        font-size: 2rem;
        text-shadow: .2rem .2rem .1rem crimson;
    }
}



.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 0;
    padding: 1.5rem 5rem;
    background-color: transparent;
    border: .2rem solid $color-green;
    border-radius: .5rem;
    color: $color-green;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: $color-green;
        color: #BED5FF;
    } 
}

.image-label {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: translateX(-10000rem);

    padding: 5rem 2rem;
}

#checkbox {
    display: none;

    &:checked ~ .btn {
        display: none;
    }

    &:checked ~ .text-label {
        transform: translateX(-10000rem);
    }

    &:checked ~ .image-label {
        transform: translateX(0);
    }
}

.photo-gallery {
    margin: 5rem 0 0;
}

.photo {
    background-color: #ccc;
    margin: 1rem 0;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: .3rem .3rem .5rem #999;
    text-align: left;

    &__img {
        padding: 7rem 0;
        width: 100%;
    }

    &__heading {
        padding: 1rem 2rem 0;
    }

    &__text {
        padding: 0 2rem 2rem;
    }
}
@media (min-width: 1000px) {
    .text-label {
        font-size: 7rem;
        text-shadow: .1rem .5rem .1rem crimson;
        padding: 0;

        small {
            font-size: 3rem;
        }
    }
    
    .photo-gallery {
        display: flex;
        align-items: stretch;
    }

    .photo {
        width: calc(calc(100% / 4) - 1rem);
        margin: 0 .5rem;
    }
}
